
.navbar{
  background-image: linear-gradient(to right,#343a40,#989a9c, #e2e2e2);
}
.sidenav {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 56px;
    left: 0;
    background-color: #343a40;
    background-image: linear-gradient(to bottom,#343a40,#989a9c, #e2e2e2);
    overflow-x: hidden;
    padding-top: 20px;
  }
  .navbar{
    .nav-link,
    .navbar-brand{
      text-transform: capitalize;
    }
  }
  
  .sidenav {
    a{
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      color: rgba(255,255,255,.5);
      display: block;
      text-transform: capitalize;
    }
  }
  
  .sidenav {
    a{
      &:hover,
      &.active {
        color: #ffffff;
      }
    }
  }
  .email-icon{
    width   : 40px;
    height  : 40px;
    display : block;
    margin  : auto;
    position: relative;
    .icon1,
    .icon2,
    .icon3,
    .icon4{
        top             : 12px;
        width           : 100%;
        height          : 16px;
        opacity         : .6;
        z-index         : 1;
        position        : absolute;
        background      : #B2CC41;
        border-radius   : 8px;
    }
    .icon2{
        opacity     : .7;
        z-index     : 2;
        transform   : rotate(45deg);
        background  : #33879E;
    }
    .icon3{
        z-index     : 4;
        opacity     : .7;
        transform   : rotate(90deg);
        background  : #13AC87;
    }
    .icon4{
        z-index     : 3;
        transform   : rotate(-45deg);
        background  : #8ABF58;
    }
    .icon5{
        top             : 50%;
        left            : 50%;
        width           : 17px;
        height          : 17px;
        z-index         : 10;
        position        : absolute;
        transform       : translate(-50%,-50%);
        background      : #ffffff;
        border-radius   : 50%;
    }
}