html,body{
    height: 100%;
}
.main-content{
    position: relative;
    left: 12%;
    width: 88%;
    height: 100%;
    background-image: linear-gradient(to right, #ffffff, #cecece);
    padding-top: 56px;
}